<div id="faq">
<br/><br/><br/>
<span class="question">Qu'est ce que Tensoon?</span>
<br/>
<span class="reponse">Tensoon est un <a href="http://digg.com/news">Digg-like</a> dédié au webmarketing avec une dominante SEO.</span>
<br/><br/>
<span class="question">Comment sont classés les articles?</span>
<br/>
<span class="reponse">Avec un algorithme honteusement piqué à <a href="http://news.ycombinator.com/">Hacker News</a>, en fonction du nombre de votes par rapport au temps, plus un article a de votes et une date de création récente plus il sera haut.</span>
<br/><br/>
<span class="question">Avec quoi est développé Tensoon?</span>
<br/>
<span class="reponse">Avec <a href="http://rubyonrails.org/">Rails</a> pour le code et <a href="http://heroku.com">Heroku</a> pour l'hébergement.</span>
</div>
