<a href="#" class="lbAction" rel="deactivate" style="color:#black;">Fermer</a>

<div style="color:#599555;font-size:15px;">
<ul>
<li>Le contenu de l'article ne peut pas être en dehors du champ du
marketing online.</li>

<li>Le lien ne peut pas être vers la Home du site, seulement vers la
page de l'article.</li>

<li>Pas de fautes d'orthographe.</li>

<li>Pas de paramètres de tracking ou d'affiliation dans l'url de
l'article.</li>

<li>Les articles soumis doivent être récents, quelques semaines au
maximum.</li>

<li>Le titre de l'article doit être identique ou quasi identique à celui de l'article que vous postez.</li>

<li>Ne postez pas de "lien vers un lien", votre lien doit diriger directement sur la page de l'article sans passer par un intermédiaire.</li>

<li>Ne spammez pas, soumettez du contenu que vous trouvez intéressant.</li>

<li>Tout ce qui ne respecte pas ces consignes sera effacé.</li>

</ul>
</div>
