<a href="#" class="lbAction" rel="deactivate" style="color:#599555;">Fermer</a>

<ul>
<li>Le contenu de l'article ne peut pas être en dehors du champ du
marketing online.</li>

<li>Le lien ne peut pas être vers la Home du site, seulement vers la
page de l'article.</li>

<li>Une ou deux fautes d'orthographe dans le résumé seront éventuellement corrigées.</li>

<li>Pas de paramètres de tracking ou d'affiliation dans l'url de
l'article.</li>

<li>Les articles soumis doivent être récents, quelques semaines au
maximum.</li>

<li>Ne spammez pas, soumettez du contenu que vous trouvez intéressant.</li>

</ul>
